@import "tailwindcss";

:root {
  --color-primary: #2784f5;
  --color-background: #f5f8fa;
  --color-card: #ffffff;
  --color-text-main: #2e2a33;
  --color-btn-primary: #bec0cc;
  --color-success: #04ba5c;
  --color-danger: #fc0803;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-background: var(--color-background);
  --color-card: var(--color-card);
  --color-text-main: var(--color-text-main);
  --color-btn-primary: var(--color-btn-primary);
  --color-success: var(--color-success);
  --color-danger: var(--color-danger);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  color: var(--color-text-main);
}
